{% extends 'main/base.html' %}


{% block title %}Темы{% endblock %}

{% block style %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/blocks/table.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/libs/all.min.css') }}">
{% endblock %}


{% block content %}
<div class="table-responsive custom-table-responsive">
	<table class="table custom-table">
		<thead>
			<tr>
				<th scope="col">Преподаватель</th>
				<th scope="col">Тема</th>
				<th scope="col">Студент</th>
				{% if current_user.is_authenticated %}
				<th scope="col">Действия</th>
				{% endif %}
			</tr>
		</thead>
		<tbody>
			{% for post in posts %}
			<tr scope="row">
				<td>
					<img width="36px" height="36px" src="{{ url_for('static', filename='upload/'+post.author.avatar) }}" alt="Преподаватель">
					{{ post.author.user_name }}
				</td>
				<td>{{ post.subject }}</td>
				<td>
					{% with student = user.query.get(post.student) %}
						<img width="36px" height="36px" src="{{ url_for('static', filename='upload/'+student.avatar) }}" alt="Студент">
						{{ student.user_name }}
					{% endwith %}
				</td>
				{% if current_user.is_authenticated and post.author.id == current_user.id %}
				<td>
					<a href="{{ url_for('my_post.edit', id=post.id) }}" class="btn btn-sm btn-secondary"><i class="fas fa-pen"></i></a>
					<a href="{{ url_for('my_post.delete', id=post.id) }}" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></a>
				</td>
				{% elif current_user.is_authenticated %}
					<td></td>
				{% endif %}
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}